<%= form_with(model: leave_type) do |form| %>
  <% if leave_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(leave_type.errors.count, "error") %> prohibited this leave_type from being saved:</h2>

      <ul>
        <% leave_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :leave_name, style: "display: block" %>
    <%= form.text_field :leave_name %>
  </div>

  <div>
    <%= form.label :paid_unpaid, style: "display: block" %>
    <%= form.check_box :paid_unpaid %>
  </div>

  <div>
    <%= form.label :days_allowd, style: "display: block" %>
    <%= form.number_field :days_allowd %>
  </div>

  <div>
    <%= form.label :remarks, style: "display: block" %>
    <%= form.text_area :remarks %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
