<div id="<%= dom_id leave_type %>">
  <p>
    <strong>Leave name:</strong>
    <%= leave_type.leave_name %>
  </p>

  <p>
    <strong>Paid unpaid:</strong>
    <%= leave_type.paid_unpaid %>
  </p>

  <p>
    <strong>Days allowd:</strong>
    <%= leave_type.days_allowd %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= leave_type.remarks %>
  </p>

</div>
